.projectDetails {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 5vh;
  position: relative;

  &__titles {
    z-index: 14;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 2vh;
    right: 4vw;
    height: 30%;

    &__tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 1vw;
      margin-bottom: 0%;
    }

    &__description {
      color: $light-color;
      background-color: rgba(0, 0, 0, 0.2);
      width: 90%;
      font-size: 0.9rem;
      border-radius: 5px;
      padding: 2% 2%;
      margin: 2% 0;
      font-family: "Firacode-Light";
      text-align: right;
    }

    &__button {
      // border: 1px $light-color solid;
      border: none;
      color: $light-color;
      background-color: $secondary-color;
      width: 160px;
      padding: 5px 0;
      height: 30px;
      border-radius: 5px;
      font-size: 1rem;
      text-align: center;
      box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.4);
    }

    h1 {
      color: $light-color;
      font-size: 10.7vw;
      font-family: "Lato-regular";
      text-align: left;
      top: -228%;
      position: absolute;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 10;
    border-radius: 10px;
  }

  &__imagehorizontal {
    display: none;
  }
}

@media all and (min-width: 768px) {
  .projectDetails {
    position: relative;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, 1fr);
    gap: 1.5rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 0%;
    }
    &__titles {
      grid-area: 1 / 2 / 5 / 4;
      z-index: 4;
      margin-right: 2vw;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      position: static;

      &__tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1vw;
        margin-bottom: 0%;
      }

      &__description {
        width: 25vw;
        font-size: 0.9rem;
        text-align: justify;
      }

      h1 {
        font-size: 7.7vw;
        font-family: "Lato-regular";
        text-align: right;
        position: static;
      }
    }
    &__imagevertical {
      grid-area: 1 / 1 / 8 / 2;
      margin-top: 10vh;
    }

    &__imagehorizontal {
      grid-area: 3 / 2 / 8 / 4;
      display: grid;
    }
  }
}
