.skills {
  height: 100%;
  width: 80vw;
  padding: 30vh 10vw 20vh 10vw;
  background-color: $main-color;
  position: relative;
  z-index: 20;

  h4 {
    color: $tertiary-color;
    font-size: 1rem;
    font-family: "Firacode-Light";
    padding: 3vh 0 1vh 0;
    text-align: center;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    color: $light-color;
    padding-bottom: 5vh;

    &__quote {
      font-family: "FiraCode-Light";
      font-size: 1.1rem;
    }

    &__author {
      font-family: "FiraCode-Light";
      font-size: 0.9rem;
    }
  }

  &__hr {
    border: none;
    outline: 0;
    border-top: 1px solid;
    color: $tertiary-color;
    opacity: 0.8;
    overflow: visible;
    text-align: center;
    height: 10px;
    margin: 50px 0px 10px 0px;
  }

  &__hr:after {
    background: $main-color;
    color: $tertiary-color;
    font-family: "Firacode-Light";
    border-radius: 12px;
    content: attr(data-content);
    padding: 0px 35px;
    position: relative;
    top: -110%;
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 6vh;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 80vw;
    padding: 5 5 5 5;
    opacity: 1;
    z-index: 20;

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 3px;
      color: $light-color;
      text-align: center;

      h2 {
        font-size: 0.9rem;
        font-family: "FiraCode-Light";
      }
    }

    img {
      z-index: 20;
      opacity: initial;
      border-radius: 15px;
    }
  }
}
