.skills {
  height: 100%;
  width: 90vw;
  padding: 10% 10%;
  background-color: $main-color;
  position: relative;
  z-index: 20;

  h4 {
    color: $tertiary-color;
    font-size: 1rem;
    font-family: "Firacode-Light";
    padding: 3vh 0 1vh 0;
    text-align: center;
  }

  &__intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
    color: $light-color;
    padding-bottom: 5vh;

    &__quote {
      font-family: "FiraCode-Light";
      font-size: 1.1rem;
    }

    &__author {
      font-family: "FiraCode-Light";
      font-size: 0.9rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    gap: 2vh;
    align-items: flex-start;
    flex-wrap: wrap;
    height: auto;
    width: 90vw;
    padding: 5 5 5 5;
    opacity: 1;
    z-index: 20;

    &__box {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 2px;
      color: $light-color;
      text-align: center;

      h2 {
        font-size: 0.7rem;
        font-family: "FiraCode-Light";
      }
    }

    img {
      z-index: 20;
      opacity: initial;
    }
  }
}
