.tag {
  height: 20px;
  width: auto;
  color: white;
  border: 0.5px $light-color solid;
  border-radius: 5px;
  padding: 0 4px 0 4px;
  font-size: 0.9rem;
  text-align: center;
  font-family: "FiraCode-Medium";
}
