.tag {
  height: 20px;
  width: auto;
  color: white;
  border: 0.5px $light-color solid;
  border-radius: 12px;
  padding: 0 7px 0 7px;
  font-size: 0.9rem;
  text-align: center;
  font-family: "FiraCode-Medium";
}
