// COLORS //
$main-color: rgb(0, 13, 42);
$secondary-color: rgb(255, 183, 0);
$secondary-color-hover: rgb(212, 152, 0);
$tertiary-color: rgb(148, 221, 148);
$quartery-color: rgb(255, 180, 151);
$light-color: white;
$dark-color: rgb(0, 3, 10);

//
