// Handling navbar mobile layout
.watermark {
  position: absolute;
  background-color: transparent;
  z-index: 0;
  width: 90vw;

  &__title {
    font-family: "FiraCode-Medium";
    font-size: 33vw;
    color: $light-color;
    opacity: 10%;
    overflow-wrap: anywhere;
    overflow: hidden;
  }
}

// Handling navbar desktop layout
@media all and (min-width: 768px) {
  .watermark {
    position: absolute;
    top: 1vh;
    left: 6vw;
    background-color: transparent;
    z-index: 1;

    &__title {
      font-family: "FiraCode-Medium";
      font-size: 135px;
      color: $light-color;
      opacity: 10%;
      overflow-wrap: anywhere;
      overflow: hidden;
      text-align: center;
    }
  }
}
